.button {
  background-color: $accent-alt;
  display: inline-block;
  color: #fff;
  padding: 15px 20px;
  transition: all 0.3s;
  border: 2px solid $accent-alt;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: transparent;
    color: $accent-alt;
  }
}
